<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clef Home</title>

    <link rel="stylesheet" href="../static/css/searchbar.css">
    <link rel="stylesheet" href="../static/css/common.css">

</head>
<body>
    <section class="search">
        <form action="search" id="search-form"class="search__form">
            <input type="text" id="search-input" name="q">
            <button type="submit" id="search-submit">🔎</button>
        </form>
    </section>
</body>
</html>