@import url('../css/vars.css');

body, html, * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-image: url('../background.png');
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-color: var(--level0);
    color: var(--text);
    width: 100vw;
    overflow-x: hidden;
    
}

.btn-circle {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  

li {list-style: none;}

  a {
      color: var(--text);
      text-decoration: none;
  }
  a:hover {
      color: var(--text);
      text-decoration: none;
  }

  .range {
      width: 100%;
  }

  .hidden {
      display: none;
  }


.go {
    opacity: 0;
    color: var(--primary);
    transition: opacity 0.2s ease-in-out;
}

.recommendation {
    padding: 20px;
    padding-bottom: 5px;
    padding-right: 35px;
    border-radius: 15px;
}

.recommendation:hover {
    background-color: rgba(188, 188, 188, 0.1);
}
.recommendation:focus {
    background-color: rgba(188, 188, 188, 0.1);
}

.player-main {
    padding: 5vw;
    background-color: rgba(25, 25, 25, 0.6);
    border-radius: 15px;
}

.recommendation:hover .go {
    opacity: 1;
}
.recommendation:focus .go {
    opacity: 1;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
    padding-bottom: 2vw;
    background-color: var(--level1);
}

.search-bar {
    width: 75vw;
}

#download {
    color: var(--primary);
}

.disabled {
    pointer-events: none;
  }

.action-more {
    width: fit-content;
    margin-left: auto;
    padding: 8px 25px;
    border-radius: 15px;
    font-size: 2rem;
    color: var(--primary);
    cursor: pointer;
    position: relative;
}

.actions-list {
    font-size: 1.5rem;
    position: absolute;
    top: 85%;
    left: -10vw;
    background-color: var(--level1);
    padding: 2vw;
    width: max-content;
    border-radius: 15px;
    border: 2px solid var(--level2);    
}

.actions-list li {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.actions-list li:hover {
    background-color: rgba(255, 255, 255, 0.099);
    border-radius: 15px;
}

.action-more:hover {
    background-color: var(--level2);
}

.loop-icon {
    color: var(--level2);
}

#vol {
    cursor: pointer;
}