@import url('../css/vars.css');


body, html, * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-image: url('../background.png');
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-color: var(--level0);
    color: var(--text);
    overflow-x: hidden;
}

.hidden {
    display: none;
}
li {
    list-style: none;
}
a {
    color: var(--text);
    text-decoration: none;
}
a:hover {
    color: var(--text);
}

.go {
    opacity: 0;
    color: var(--primary);
    transition: opacity 0.2s ease-in-out;
}

.result:hover .go {
    opacity: 1;
}
.result:focus .go {
    opacity: 1;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
    padding-bottom: 2vw;
    background-color: var(--level1);
}

.search-bar {
    width: 75vw;
}
